* {
    box-sizing: border-box; 
}

section {
    padding: 45px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrinho {
    width: 100%;
    background-color: #3a0300;
    padding: 25px 40px;
    text-align: right;
}

.icone-carrinho {
    min-width: 35px;
    min-height: 35px;
    background-color: #ddd;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
}

.produtos {
    padding: 45px 0;
    width: 100%;
    text-align: center;
}

.classificacao {
    width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    margin: 10px
}

.cartoes {
    text-align: center;
    max-width: 900px;
    margin: 20px auto 0;
}

.cartao {
    display: inline-block;
    width: 300px;
    height: 100%;
    overflow: hidden;
    margin: 1% 1.5%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

img {
    width: 70px;
}

.precos {
    font-weight: bold;
}

.botao-produtos {
    border: 0;
    border-radius: 25px;
    padding: 20px 50px;
    margin: 10px;
    width: 90%;
    cursor: pointer;
    background-color: #581411;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

